<!DOCTYPE html>

body {
  color: black;
  font-family: 'Times', cursive;
  padding: 100px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
  margin: 100px;
  padding: 100px;
}


h1 {
  text-align: center;
  font-size: 5.0em;
  color: black;
  margin-bottom: 0px;
}


nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}


ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #565857;
  font-size: 2.8em;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #8A8D91;
}
