body {
  background: url('/images/Untitled.jpg');
  background-color: transparent;
  background-size: cover;
  color: black;
  font-size: 20px;
  font-family: 'Times', cursive;
  padding: 100px;
  margin: 0px;
}
img {
  border-radius: 25px;
  display: block;
  margin-top: 100px;
  margin-bottom: 500px;
  margin-left:  100px;
  margin-right: 100px;
  width: 90%;
}

p {border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-size: 30px;
  font-family: 'Times', cursive;
}

a { border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #CED3DC;
  font-size: 50px;
  font-family: 'Times', cursive;
}
