  <form class="form-style-1" method="post" action="/owners/<%= @owner.id %>">

  <label for="field1"
  <span>First Name => </span><input type="text" name="field1" required="true"
  value="<%= @owner.first_name %>"/>
  </label>


  <label for="field2"
  <span>Last Name => </span><input type="text" name="field2" required="true"
  value="<%= @owner.last_name %>"/>
  </label>

  <label for="field3"
  <span>Telephone => </span><input type="text" name="field3" required="true"
  value="<%= @owner.telephone_number %>"/>
  </label>

  <input type='submit' value="Edit owner">
  </form>
