<h1>This will create a new owner</h1>

  <form method="post" action ="/owners">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" >

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" >

  <label for="telephone-number">Telephone:</label>
  <input id="telephone-number" type="text" name="telephone_number">
  <input type="submit" value="New Owner">
</form>
