<h1>This will create a new owner</h1>

<form class="form-style-1" action="owners" method="post">
<label for="field1">
<span>First Name</span><input type="text" name="field1" required="true" />
</label>

<label for="field2">
<span>Last Name</span><input type="text" name="field2" required="true" />
</label>

<label for="field3">
<span>Telephone</span><input type="text" name="field3" required="true" />
</label>

<span> </span><input type="submit" value="New Owner" />
</form>
