<h1>This will create a new owner</h1>

  <form method="post" action ="/owners">
  <!-- input for first name -->
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" >
  <!-- input for last name -->
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" >
  <!-- input field for quantity -->
  <label for="telephone-numnber">Telephone:</label>
  <input id="telephone-number" type="text" name="telephone_number">
  <input type="submit" value="New Owner">
</form>
